---
const today = new Date();
---

<footer>
	<p>So that they are no more twain, but one flesh. What therefore God hath joined together,let not man put asunder.　Mat 19:6</p>	
</footer>
<style>
	footer {
		padding: 2em 1em;
		background: #FFC107 no-repeat;
		color: #ffffff;
		text-align: center;
	}
	footer p {
  margin: 0.5em 0; /* 稍微分開段落 */
}
@media (max-width: 768px) {
	footer p {
		font-size: 16px;
		text-align: left;
  		margin: 0.1em 0; /* 稍微分開段落 */
		padding:10px;
	}
}

	
</style>
